* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(images/muzeu.jpg);
  background-size: cover;
  background-position: center;
}

.navbar {
  position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1; 
        width: 85%;
        margin: auto;
        padding: 35px 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
}

.navbar ul li {
  list-style: disc;
  display: inline-block;
  margin: 0 20;
  position: relative;
  margin-right: 70px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  border-radius: 12px;
}

.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #ee5001;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
  color: #7D82B8;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.blog {
  position: relative; 
  top: 120px; 
  padding: 150px;
  left: 15%;
  width: 50%;
  background-color: rgba(238, 80, 1, 0.2);
  border-style: ridge;
}

.title{
  background: #7D82B8;
  height: 100px;
  position: relative;
  top: -120px;
}

.text{
  background: #7D82B8;
  height: 300px;
  position: inherit;
}

h1 {
  font-size: calc(1em + 20vw);
  font-weight: 900;
}

h1 {

  letter-spacing: 0;
  padding: .25em 0 .325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255,255,255,.5);


  background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;


  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;


  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;

}

button {
  top: 100px;
  margin: 10px;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-14 {
  background: rgb(255,151,0);
  border: none;
  z-index: 1;
}
.btn-14:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #eaf818;
  background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
              7px 7px 20px 0px rgba(0, 0, 0, .1),
              4px 4px 5px 0px rgba(0, 0, 0, .1);
  transition: all 0.3s ease;
}
.btn-14:hover {
  color: #000;
}
.btn-14:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}
.btn-14:active {
  top: 1px;
}


@-webkit-keyframes aitf {
0% { background-position: 0% 50%; }
100% { background-position: 100% 50%; }
}

